* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #3333ff 0%, #00ff99 100%);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
#title{
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;
    color: rgb(49,70,7);
    background: rgba(105,224,90,0.55);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}